<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="科技计划项目档案数据采集管理系统.bin.Debug.Datas.DataScources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <科技计划项目档案数据采集管理系统.bin.Debug.Datas.DataScources>
            <setting name="IPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
        </科技计划项目档案数据采集管理系统.bin.Debug.Datas.DataScources>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
